@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@300&display=swap");



:root {
    --primary-color: #1B065E;
    --secondary-color: #9BE564;
    --text-color: ;

    --heading-font: 'Roboto';
    --paragragh-font: 'Mooli' ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: #fffaff;
    text-align: center;
    background-color: var(--primary-color);
    opacity: .7;
}

h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    
}



.hero {
    position: relative;
    margin-top: 1rem;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 5px;
    margin: 10px;
    border: 1px;
    padding: 10px;
    background-color: var(--secondary-color);
    opacity: .7;
   
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 20px;
}

.hero article img {
    width: 150px;
    height: auto;
    float: right;
    
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header img{
    border-radius: 50%;
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header, img, nav {
    background-color: #9BE564;
}

.a{
    text-align: center;
}

.adventures {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.hero article{
    top:30%;
    height:36%;
}

.hero h1{
    text-align: center;
    width: 95%;
    
}

.adventure {
    text-align: center;
}

.adventure img {
    width: 150%;
    height: auto;
    max-width: 600px;
}

figcaption {
    margin-top: 10px;
}

.footer {
    background-color: #9BE564;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons img {
    width: 30px;
    margin-left: 10px;
}

address {
    font-family: var(--paragragh-font);
    font-size: 1.rem;
    padding: 10px;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
    background-color: #4056F4;
    display: grid;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

.employee-profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.employee-profiles img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-profiles p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

legend {
    color: black;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
}


.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

label {
    text-align: right;
    
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #C2F970;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

main {
    background-color: azure;
}

.cta-section {
    padding: 20px;
}

.trip-image img {
    width: 600px;
    height: 300px;
}

.trip-info {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color:#4056F4;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}


td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.newsletter {
    background-color: #fffaff;
    padding: 20px;
    text-align: center;
}

.newsletter h2 {
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter input[type="text"] {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #555;
}