@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #0077B6;
    --secondary-color: #00B4D8;
    --accent1-color: #90E0EF;
    --accent2-color: #03045E;
  
    --heading-font: '______', 'Roboto';
    --paragraph-font: '______', 'Mooli';
  
    --nav-background-color: #90E0EF;
    --nav-link-color: #0077B6;
    --nav-hover-link-color:#0077B6 ;
    --nav-hover-background-color: #90E0EF;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}